<div id="legroup">
<header>
  <h1><{$smarty.const._MD_LEGROUP_LANG_GROUP_DELETE}> <{$object->getShow('title')}></h1>
</header>

<div class="alert"><{$smarty.const._MD_LEGROUP_MESSAGE_CONFIRM_DELETE}></div>

<form action="<{xoops_cooluri dirname=$dirname dataname=group action=delete}>" method="post" class="form-horizontal">
  <fieldset>
    <label class="control-label" for="description"><{$smarty.const._MD_LEGROUP_LANG_DESCRIPTION}></label>
    <div class="controls"><{$object->getShow('description')}></div>
    <div class="form-actions">
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=group_id value=$actionForm->get('group_id')}>
      <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
      <input type="submit" class="formButton" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"/>
    </div>
  </fieldset>
</form>
</div>
