<div id="legroup">

<div class="page-header">
  <h1>
    <{$smarty.const._MD_LEGROUP_LANG_GROUP}><{$smarty.const._LIST}>
    <{if $xoops_isuser}>
    <a class="btn" href="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit}>"><i class="icon-pencil"></i> <{$smarty.const._MD_LEGROUP_LANG_ADD_A_NEW_GROUP}></a>
    <{/if}>
  </h1>
</div>

<{if count($objects) > 0}>
<section class="timeline">
  <ul>
  <{foreach item=obj from=$objects}>
    <li>
      <span class="title"><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->get('group_id')}>"><{$obj->getShow('title')}></a> (<{$obj->countMembers()}>)</span>
      <{if $obj->getShow('publicity')==0}> <i class="icon-lock"></i> <{/if}>
      <time><{$obj->getShow('posttime')|xoops_formattimestamp:m}></time>
      <{if $obj->countMembers(null, 5)>0 && $obj->getMyRank()>=7}><{assign var=groupId value=$obj->getShow('group_id')}><a href="<{xoops_cooluri dirname=$dirname dataname=member query="group_id=$groupId"}>" class="btn btn-mini btn-warning"><i class="icon-ok"></i> <{$smarty.const._MD_LEGROUP_LANG_NOT_APPROVED}></a><{/if}>
    </li>
  <{/foreach}>
  </ul>
</section>
<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
</div>
