<div id="legroup">
<header>
  <h1><{$smarty.const._MD_LEGROUP_LANG_MEMBER_EDIT}></h1>
</header>

<{if $actionForm->hasError()}>
  <ul class="alert alert-error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>

<{if $object->get('status')<9}>
<div class="alert"><{$smarty.const._MD_LEGROUP_MESSAGE_APPROVE_THIS_USER}></div><{/if}>

<form action="<{xoops_cooluri dirname=$dirname dataname=member action=edit}>" method="post" class="form-horizontal">
  <fieldset>
  <div class="control-group">
    <label class="control-label" for="title"><{$smarty.const._MD_LEGROUP_LANG_GROUP}></label>
    <div class="controls"><{$object->mGroup->getShow('title')}></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="title"><{$smarty.const._MD_LEGROUP_LANG_MEMBER}></label>
    <div class="controls"><{$object->getShow('uid')|xoops_user:"user_name"}></div>
  </div>
  <div class="control-group">
    <label class="control-label" for="title"><{$smarty.const._MD_LEGROUP_LANG_RANK}></label>
    <div class="controls">
      <select name="rank">
      <{foreach item=rank from=$rankList key=r}>
        <option value=<{$r}><{if $r==$actionForm->get('rank')}> selected="selected"<{/if}>><{$rank}></option>
      <{/foreach}>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="status"><{$smarty.const._MD_LEGROUP_LANG_APPROVAL}></label>
    <div class="controls">
      <label><input type=radio value=1 name="status"<{if $actionForm->get('status')==1}> checked="checked"<{/if}> /><{$smarty.const._MD_LEGROUP_LANG_BLOCK}></label>
      <label><input type=radio value=2 name="status"<{if $actionForm->get('status')==2}> checked="checked"<{/if}> /><{$smarty.const._MD_LEGROUP_LANG_REJECT}></label>
      <label><input type=radio value=9 name="status"<{if $actionForm->get('status')==9}> checked="checked"<{/if}> /><{$smarty.const._MD_LEGROUP_LANG_APPROVE}></label>
    </div>
  </div>
  <div class="form-actions">
    <div class="controls">
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=member_id value=$actionForm->get('member_id')}>
      <{xoops_input type=hidden name=group_id value=$actionForm->get('group_id')}>
    <button type="submit" class="btn btn-primary"><{$smarty.const._SUBMIT}></button>
    <button type="submit" class="btn" name="_form_control_cancel" value="_form_control_cancel"><{$smarty.const._CANCEL}></button>
    </div>
  </div>
  </fieldset>
</form>
</div>
